.information-places-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.information-places-block__main-words {
    font-size: 45px;
    color: var(--text-dark-title-1);
    text-align: center;
}

.information-places-block__sub-words {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 530px;
    margin: 0;
}

.information-places-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.information-places-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
}

.information-places-card__main-words {
    font-size: 24px;
    color: var(--text-dark-title-1);
    margin: 20px 0 15px 0;
}

.information-places-card-text-container {
    display: flex;
    justify-content: space-between;
}

.information-places-card-text-container__time-text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.information-places-card__img-container {
    width: 250px;
    height: 263px;
    border-radius: 12px;
    background-image: linear-gradient(135deg,
        rgb(13 9 45 / 40%) 0%,
        rgb(15 11 44 / 0%) 94%,
        rgb(15 11 44 / 10%) 100%
    );
}

.information-places-card-text-container__price-text {
    color: #EE6D52;
}

.information-places-buttons {
    display: none;
    justify-content: space-around;
}

.information-places-buttons__wrap {
    display: flex;
    gap: 10px;
}

.information-places-buttons__button-left {
    margin: 0;
    padding: 0;
    border: solid #EDEEEF 1px;
    background: #fff;
    width: 61px;
    height: 61px;
    border-radius: 30px;
}

.information-places-buttons__button-right {
    margin: 0;
    padding: 0;
    border: solid #EDEEEF 1px;
    background: #fff;
    width: 61px;
    height: 61px;
    border-radius: 30px;
}