.information-pros-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-pros-block__main-words {
    font-size: 45px;
    color: var(--text-dark-title-1);
    text-align: center;
}

.information-pros-block__sub-words {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 615px;
}

.information-pros-card-container {
    display: flex;
    scrollbar-width: none; /* чтобы скролл не было видно */
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

.information-pros-card-container-wrap::-webkit-scrollbar {
    display: none; /* чтобы скролл не было видно */
}

.information-pros-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
}

.information-pros-card__icon-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 20px 80px -15px rgb(45 51 60 / 20%);
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

.information-pros-card__icon {
    width: 49px;
    height: 49px;
}

.information-pros-card__main-words {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
    color: var(--text-dark-title-1);
}

.information-pros-card__sub-words {
    margin-top: 10px;
    width: 254px;
    font-size: 16px;
}

.information-pros-buttons {
    display: none;
    margin-top: 20px;
}

.information-pros-buttons__button-left {
    margin: 0;
    padding: 0;
    border: solid #EDEEEF 1px;
    background: #fff;
    width: 61px;
    height: 61px;
    border-radius: 30px;
}

.information-pros-buttons__button-right {
    margin: 0;
    padding: 0;
    border: solid #EDEEEF 1px;
    background: #fff;
    width: 61px;
    height: 61px;
    border-radius: 30px;
}