@media (width <= 1185px) {
    .information-cities-card-container-wrap {
        position: relative;
        overflow: hidden;
        width: 798px;
        border-radius: 8px;
        padding: 0;
    }

    .information-cities-card-container-wrap::after { /* Он нам и будет давать тень и круглую рамку. */
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        background: linear-gradient(to right, transparent 98%, #F5F6F8 100%), linear-gradient(to left, transparent 98%, #F5F6F8 100%);
        z-index: 5;
        pointer-events: none;
    }

    .information-cities-card-container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
        padding: 20px;
    }
}

@media (width <= 845px) {
    .information-cities-block {
        gap: 20px;
    }

    .information-cities-text-button-container {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}

@media (width <= 790px) {
    .information-cities-text-container__main-words {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }

    .information-cities-card-container-wrap {
        width: 404px;
    }
}

@media (width <= 390px) {
    .information-cities-card-container-wrap {
        width: 310px;
    }

    .information-cities-card {
        width: 270px;
    }
}