@media (width <= 1000px) {
    /* Механизм для корректно работающего скролла с перекрытием тенями контента (обёрта, псевдоэлемент и сам контейнер) */
    .information-pros-card-container-wrap {
        position: relative;
        overflow: hidden;
        width: 663px;
        border-radius: 8px;
        padding: 0;
    }

    .information-pros-card-container-wrap::after { /* Он нам и будет давать тень и круглую рамку. */
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        background: linear-gradient(to right, transparent 98%, #F5F6F8 100%), linear-gradient(to left, transparent 98%, #F5F6F8 100%);
        z-index: 5;
        pointer-events: none;
    }

    .information-pros-card-container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
        padding: 20px;
    }

    .information-pros-buttons {
        display: flex;
        justify-content: space-around;
    }
}

@media (width <= 663px) {
    .information-pros-card-container-wrap {
        width: 334px;
    }
}

@media (width <= 670px) {
    .information-pros-block__sub-words {
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (width <= 355px) {
    .information-pros-card-container-wrap {
        width: 280px;
    }

    .information-pros-card {
        width: 240px;
    }

    .information-pros-card__sub-words {
        width: 200px;
    }
}