.bottom-info-block {
    background-color: #10100E;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: var(--main-font);
    color: var(--text-bright);
}

.bottom-info-text-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bottom-info-text-container__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-info-text {
    font-weight: 300;
    width: 240px;
    color: rgb(255 255 255 / 50%);
}

.bottom-info-logo__img {
    width: 114px;
}

.bottom-info-text-container__middle {
    display: grid;
    grid-template-columns: 145px 145px;
}

.bottom-info-social-media-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.bottom-info-social-media-container__link {
    color: var(--text-bright);
    font-size: 16px;
    text-decoration: none;
}

.bottom-info-text-container__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-info-blue-container {
    display: flex;
    position: absolute;
    top: -120px;
    left: auto;
    right: auto;
    background-color: #34A5E4;
    justify-content: center;
    align-items: end;
    padding: 60px 90px;
    gap: 150px;
    border-radius: 16px;
}

.bottom-info-blue-text-container__main-words {
    font-size: 40px;
    margin-bottom: 10px;
    z-index: 1;
}

.bottom-info-blue-text-container__sub-words {
    font-size: 16px;
    font-weight: 300;
    z-index: 1;
    width: 370px;
}

.bottom-info-blue-email-input-container__input-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 7px 20px;
    gap: 100px;
    border-radius: 4px;
}

.bottom-info-blue-email-input-container__input {
    font-size: 16px;
    border: none;
    height: 30px;
    border-bottom: 2px solid transparent;
}

.bottom-info-blue-email-input-container__input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.bottom-info-blue-email-input-container__button {
    width: 130px;
    height: 55px;
    border: none;
    background-color: #0F415C;
    color: var(--text-bright);
    font-family: var(--main-font);
    font-size: 16px;
    border-radius: 4px;
}
