.slogan-block {
    background-image: linear-gradient(135deg,
        rgb(2 0 17 / 76%) 0%,
        rgb(23 31 65 / 57%) 39%,
        rgb(21 31 66 / 51%) 49%,
        rgb(21 34 74 / 60%) 59%,
        rgb(0 10 31 / 80%) 100%
    );
    padding-bottom: 200px;
    font-family: var(--main-font);
    color: var(--text-bright);
}

.slogan-header-block__nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 80px;
    gap: 10px;
}

.nav-logo__img {
    width: 114px;
    height: 24px;
}

.nav-info-block {
    width: 416px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
}

.nav-info-block__link {
    position: relative;
    color: var(--text-bright);
    font-size: 14px;
    text-decoration: none;
}

.nav-button-block__button {
    width: 152px;
    height: 56px;
    font-family: var(--sub-font);
    font-size: 14px;
    color: var(--text-bright);
    background: none;
    border: solid #777F96 1.5px;
    border-radius: 4px;
}

.nav-burger-button {
    display: none;
}

.slogan-side-menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F5F6F8;
    width: 300px;
    height: 100dvh;
    z-index: 1000;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    color: var(--text-dark);
    padding: 20px;
}

.slogan-side-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slogan-side-menu__close-and-create-container {
    display: flex;
    justify-content: space-between;
}

.slogan-side-menu-close-button {
    font-family: var(--sub-font);
    padding: 10px;
    font-size: 14px;
    background: none;
    border: solid #777F96 1.5px;
    border-radius: 4px;
}

.slogan-side-menu-create-button {
    font-family: var(--sub-font);
    padding: 10px;
    font-size: 14px;
    background: none;
    border: solid #777F96 1.5px;
    border-radius: 4px;
}

.slogan-side-menu__options-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slogan-side-menu__options-item-button {
    font-family: var(--sub-font);
    width: 170px;
    padding: 10px;
    font-size: 14px;
    background: none;
    border: solid #777F96 1.5px;
    border-radius: 4px;
}

.slogan-main-block {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan-main-block__main-words {
    font-size: 62px;
    width: 640px;
    text-align: center;
}

.slogan-main-block__sub-words {
    font-family: var(--sub-font);
    font-size: 18px;
    font-weight: 300;
    width: 450px;
    text-align: center;
}

.slogan-search-panel {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 746px;
}

.slogan-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    width: 574px;
    height: 74px;
    background-color: #fff;
    border-radius: 4px;
}

.slogan-search-destination-input {
    border: none;
    width: 150px;
    padding: 10px 5px;
    font-family: var(--sub-font);
    color: #AFAEB4;
}

.slogan-search-location-input {
    border: none;
    width: 100px;
    padding: 10px 5px;
    font-family: var(--sub-font);
    color: #AFAEB4;
}

.slogan-people-dropdown-button {
    position: relative;
    border: none;
    background: none;
    color: #AFAEB4;
}

.slogan-search-panel__search-button {
    width: 152px;
    border: none;
    font-family: var(--sub-font);
    background-color: #34A5E4;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.people-dropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    left: -10px;
    gap: 5px;
    margin: 0;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.people-dropdown__item-button {
    width: 100px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
}

.people-dropdown__item-button:hover {
    background-color: #ececec;
}

.slogan-dynamic-field {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.slogan-dynamic-field.is-visible {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
}

.slogan-search-bar__location-input-wrap-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    background-color: #fff;
    border-radius: 4px;
    width: 300px;
    height: 74px;
}

.slogan-search-bar__people-button-wrap-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    background-color: #fff;
    border-radius: 4px;
    width: 300px;
    height: 74px;
}

.slogan-search-bar__people-dropdown-menu.is-visible {
    display: block;
}