/* Обычный шрифт Poppins */
@font-face {
    font-family: Poppins;
    src: url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* Жирный шрифт Poppins */
@font-face {
    font-family: Poppins;
    src: url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* Курсивный шрифт Poppins */
@font-face {
    font-family: Poppins;
    src: url("../../fonts/poppins/Poppins-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

/* Variable-шрифт Inter */
@font-face {
    font-family: Inter;
    src: url("../../fonts/inter/Inter-VariableFont_opsz,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
}

/* Variable-курсивный-шрифт Inter */
@font-face {
    font-family: Inter;
    src: url("../../fonts/inter/Inter-Italic-VariableFont_opsz,wght.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: italic;
}