:root {
    --text-dark-title-1: #1E2A39;
    --text-dark-title-2: #292929;
    --text-purple-title: #4141A5;
    --text-dark: #5C6272;
    --text-bright: #FFF;
    --main-font: "Poppins", sans-serif;
    --sub-font: "Inter", sans-serif;
}