.information-reviews-buttons__button-left:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: #ededed;
}

.information-reviews-buttons__button-left:active {
    background-color: #d8d8d8;
}

.information-reviews-buttons__button-right:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: #ededed;
}

.information-reviews-buttons__button-right:active {
    background-color: #d8d8d8;
}